<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
	<h2>상품 등록</h2>
	<table>
		<tr>
			<td>상품명</td>
			<td><input type="text" name="productName" id="productName"></td>
		</tr>
		<tr>
			<td>가격</td>
			<td><input type="text" name="productPrice" id="productPrice"></td>
		</tr>
		<tr>
			<td>상품이미지</td>
			<td><input type="text" name="productPhoto" id="productPhoto"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button class="btn btn-primary" type="button">등록</button>
			</td>
		</tr>
	</table>
</body>
</html>