<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title}, ~{}, ~{#content})}">
<head>
<title>Cart</title>
<meta charset="UTF-8">
</head>
<body>
<div id="content">
</div>
    <div class="container">
        <h3>장바구니</h3>    
        <table>
        <thead>
        <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="${:}">
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        </tr>
        </tbody>
        </table>
        총금액<input type="number" id="totalcash">
    </div>   
     <button>결제하기</button>
     <button>더 담기</button>
</body>
</html>