<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <div id="content">
   </div>
   Menus
   <table>
   <thead>
   <tr>
   <th>Menu</th>
   <th>price</th>
   </tr>
   </thead>
   <tbody>
   <tr th:each=":${}">
   <td th:text="${}"></td>
   <td th:text="${}"></td>
   <td th:text="${}"></td>
   </tr>
   <button id="addcart">담기</button>
   </tbody>
   </table>
</body>
</html>