<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<div>
		<table>
			<thead>
				<tr>
					<th>판매자 ID</th>
					<th>판매종류</th>
					<th>가입날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="${:}">
					<td th:text="${}"></td>
					<td th:text="${}"></td>
					<td th:Text="${}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h2>판매자 등록</h2>
		<table>
			<tr>
				<td>Id</td>
				<td><input type="text" name="productName" id="productName"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" name="productPrice" id="productPrice"></td>
			</tr>
			<tr>
				<td>판매종류</td>
				<td><input type="text" name="productPhoto" id="productPhoto"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button class="btn btn-primary">등록</button>
				</td>
			</tr>
		</table>
	</div>
</body>

</html>