<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
	<div>
    <h2>재고확인</h2>
    <table>
    <thead>
    <tr>
    <th>상품명</th>
    <th>수량</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="${:}">
    <td th:text="${}"></td>
    <td th:tect="${}"></td>
    </tr>
    </tbody>
    </table>
    </div>
    <button class="btn btn-primary">상품 등록</button> <br>
    <button class="btn btn-primary">상품 수정</button>
</body>
</html>