<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title}, ~{}, ~{#content})}">
<head>
<title>Cart</title>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>

<div class="header">
        <p>장바구니</p>
    </div>
    <div class="content" id="app">
        <table>
            <thead>
                <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>가격</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="{:}">
                    <td th:text="{}"></td>
                    <td><button v-on:click="CountDown">-</button>{{count}}<button v-on:click="CountUp">+</button></td>
                    <td th:text="{}"></td>
                </tr>
            </tbody>
        </table>
        <button>총 {{count}} 원 구매하기</button>
    </div>
    <script>
		new Vue({
			el: "#app",
			data: {
				count: 0
			},
			methods: {
				CountUp: function () {
					this.count++;
				},
				CountDown: function () {
					this.count--;
				}
			}
		})
	</script>
</body>
</html>