<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{AdminLayout::AdminLayout(~{::title}, ~{}, ~{::#content})}">

<head>
	<meta charset="UTF-8">
	<title>add</title>
</head>

<body>
<div id="content">
</div>
	<nav>
		<div class="nav">
			<a href="">상품 등록</a>
			<a href="">상품 수정</a>
			<a href="">관리자 등록</a>
		</div>
	</nav>
	<div class="content">
		<h3>상품 등록</h3>
		<label>상품명 <input type="text"></label><br>
		<label>가격 <input type="number"></label><br>
		<label>수량 <input type="number"></label><br>
		<button type="button" id="submit">등록</button>
		<button type="button" id="cancel">취소</button>
	</div>
</body>

</html>